<!--Section: Contact v.2-->

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Build It On Vogsphere</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll get in touch when client tools are ready</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--Section: Contact v.2-->