  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-4 footer-info">
            <h3>Vogsphere</h3>
            <p>
              San Francisco <br>
              CA 94117, USA<br><br>
              <strong>Phone:</strong> +1 415.786.6803<br>
              <strong>Email:</strong> info@vogsphere.io<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://www.twitter.com/vogsphereio" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UCoYQr_EX14NhiXkisPh5NyA/" class="youtube"><i class="fab fa-youtube"></i></a>
              <a href="https://github.com/vogsphereio/vogsphere" class="github"><i class="fab fa-github"></i></a>
              <a href="https://t.me/vogsphereio" class="telegram"><i class="fab fa-telegram-plane"></i></a>
              <a href="https://medium.com/@vogsphere" class="medium"><i class="fab fa-medium-m"></i></a>
            </div>
          </div>


          <div class="col-lg-6 col-md-4 footer-newsletter">
            <h4>Get Updates</h4>
            <p>Sign up and we'll keep you posted on updates as we move to production</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2020 <strong><span>Vogsphere, Inc.</span></strong> All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
