<nav class="navbar navbar-grey navbar-expand-lg">
   <div class="container">
    
      <div class="d-flex w-100" id="navbar-menu">
         <div class="mr-auto" id="navbar-menu-left-side">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Index <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Use Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
           <div id="navbar-menu-right-side">
	<%= render "social_bar" %>  

          </div>
       </div>
    </div>
 </nav>
  
  </nav>
    <!-- Header -->

  