	<%= render "navigation" %>  


  <header class="jumbotron">
    <div class="container d-flex h-180 align-items-center">
      <div class="text-left">
        <h1 class="mt-4 mb-5 col-lg-6 col-md-6">The time has come for a more private, secure, and trusted Internet. </h1>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section section id="about" class="about">
    <div class="container col-lg-6 col-md-6">
        <div>
	<p class="lead">The Internet was designed to be decentralized. It was made to be both fault-tolerant and censorship-resistant. But today services, identity and data are monopolized, monetized, and surveilled by Big Tech and governments. They are also highly insecure, constantly breached and hacked, and widely mistrusted.</p>
	<p class="lead">New decentralization technologies can help, but technology has not kept up. Existing solutions are too slow, impossible to scale, rigid, and difficult to implement.</p>
	<h4> Enter Vogsphere. . .</h4>
	<p class="lead"> Vogsphere provides a complete infrastructure for building and running secure decentralized applications and network services at global scale. Using Vogsphere, developers can build applications that are secure and compliant by default. Companies can increase security while getting rid of layers of expensive and cumbersome legacy point solutions (such as VPNs, gateways, LDAPs, Identity Providers, etc.)</p>
	<p class="lead">How does it work? Vogsphere is built on a unique foundation that combines the latest crypto with the latest database scaling techniques--with lots of innovation on top.</p>
        </div>
      </div>
  </section>  
  
  <!-- ======= Use Cases Section ======= -->
     <section id="use_cases" class="services">
       <div class="container">
         <div class="section-title">
           <h2>Use Cases: What is Vogsphere Good For?</h2>
           <p class="description">Vogsphere is a 'Swiss army knife' for decentralization, increasing security, privacy, and trust for a new generation of services and applications. SDKs and APIs make life easy for developers. Enterprise-grade deployability and manageability make it friendly for businesses small and large.</p>
         </div>

         <div class="row">
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box">
               <div class="icon"><i class="bx bxl-dribbble"></i></div>
               <h4 class="title"><a href="">Trusted Network Services</a></h4>
               <p class="description">Vogsphere's speed and scalability make it ideal for building high-performance network services that are secure, private, and trustworthy. Network naming and addressing, identity and access management, secure data exchange.</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-file"></i></div>
               <h4 class="title"><a href="">Decentralized Asset Exchange</a></h4>
               <p class="description">Decentralized services are poised to replace insecure, centralized identity provider models. Vogsphere's advanced crypto capabilities make it perfect for building trusted, privacy-hardened services and APIs.</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-tachometer"></i></div>
               <h4 class="title"><a href="">Distributed Key Management</a></h4>
               <p class="description">Vogsphere is crypto all the way down. Keys and keychains are distributed seamlessly in a way that makes it easy to dynamically model real-world trust relationships.</p>
             </div>
           </div>

           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-world"></i></div>
               <h4 class="title"><a href="">P2P Payments & Remittance</a></h4>
               <p class="description">Vogsphere delivers the speed, throughput, and rock-solid security needed for tokenized payments and value exchange at the scale of international commerce.</p>
             </div>
           </div>

         </div>

       </div>
     </section><!-- End Use Cases Section -->

     <!-- ======= Cta Section ======= -->
     <section class="contact" id="contact">
       <div class="container">

         <div class="text-center">
           <h3>Start Building on Vogsphere</h3>
           <p> The Vogsphere Testnet is live! Developers working on applications that need a secure distributed ledger can launch a subnet and start building today. Get in touch and we'll help you architect and build your apps.</p>
           <a class="cta-btn" href="#">Build It!</a>
         </div>

       </div>
     </section><!-- End Cta Section -->
	 
     <!-- ======= Benefits Section ======= -->
        <section id="features" class="services">
          <div class="container">

            <div class="section-title">
              <h2>What Sets Vogsphere Apart?</h2>
              <p class="description">Most decentralization tech is developed by ivory tower academics with little real-world software experience. Drawing on over 20 years of experience in crypto, distributed systems, and cybersecurity at dominant companies, Vogsphere is the only platform that provides true decentralization along with robust capabilities that meet the most demanding needs of enterprises and developers. </p>
            </div>

            <div class="row">
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4 class="title"><a href="">Performance and Scale</a></h4>
                  <p class="description">Ethereum can take nearly an hour to finalize transactions. Vogsphere settles transactions almost instantly, even across globally distributed P2P subnets, making it perfect for operational and transactional workloads that involve actual humans.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4 class="title"><a href="">Open and Closed Networks</a></h4>
                  <p class="description">Subnets can run as secure, permissioned enterprise networks, as well as open, permissionless networks that rely on Proof-of-Stake and Proof-of-Capability for true decentralization.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4 class="title"><a href="">Extreme Extensibility</a></h4>
                  <p class="description">APIs and SDKs open up rich functionality for building decentralized applications and network services, from secure messaging to decentralized identity and naming services. Vogsphere nodes can run web stacks and serve APIs.</p>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-world"></i></div>
                  <h4 class="title"><a href="">Enterprise Worthy</a></h4>
                  <p class="description">Decades of enterprise application development have been applied to Vogsphere, making it purpose-built to meet the demands of enterprise operations and the modern application lifecycle.</p>
                </div>
              </div>

            </div>

          </div>
        </section><!-- Benefits Section -->

  
  	<%= render "footer" %>  

