.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 0);
  margin-bottom: $jumbotron-padding;
  color: $jumbotron-color;
  background: url("../img/sphere_graphic_L.jpg") no-repeat center top;
  background-size: 100% auto;
  min-height: 395px; 
  @include border-radius($border-radius-lg);
  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

.jumbtron p {
color: #fff;
font-size: 20px;
}

.jumbotron h1 {
    font-size: 31px;
    line-height: 46px;
    color: #fff;
    font-family: 'Raleway-black';
/*    font-weight: 900; */
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
